.list_containar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.list_containar>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list_containar>ul>a>li{
    margin-left: 30px;
}