.movie_backdrop {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  opacity: 0.5;
  margin-top: 10px;
}
.movie_img_page {
  width: 300px;
  transform: translate(0%, -40%);
}
.info_movie_page {
  display: flex;
  margin-left: 20px;
}
.info_movie_page.main_info {

  display: flex;
  flex-direction: column;

}
.info {
  display: flex;
  align-items: baseline;
}
.info > p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  color: orangered;
  display: contents;
}
span {
  font-weight: bold;
}
.box_info {
  display: flex;
  padding-top: 30px;
}
.box_info_ul {
  padding-right: 40px;
}
li {
  list-style-type: none;
  margin-top: 5px;
}
.movie_overview {
  font-weight: bold;

}
.overview_text {
  width: 100%;
  padding: 25px;
  margin-top: -100px;
}
.trailer_box {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.btn{
  border: none;
  border-radius: 0;
  height: 30px;
  margin-top: 40px;
}
.btn.addList {
  width: 100px;
  background-color: green;
  border: none;
}
.btn.removeList{
  width: 150px;
  background-color: red;
}

@media (max-width: 678px){
  .info_movie_page {
    flex-wrap: wrap;
  }

  .info_movie_page.main_info {

    margin-top: -160px;
}

  .overview_text{
    margin: 0;
  }
}


